# --- DATI ---
# Ignora il dataset scompattato e i file zip
data/
archive.zip
*.zip
*.rar

# --- OUTPUT ---
# Ignora i modelli pesanti (.pth) e i grafici generati
outputs/
*.pth
*.png
*.jpg
*.jpeg
# --- PYTHON & SYSTEM ---
# Ignora i file di cache e configurazioni locali
__pycache__/
*.pyc
.ipynb_checkpoints
.DS_Store
.vscode/
.idea/
venv/
env/